.gitignore = tells git which files and folders to ignore (not to track changes)


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules  it wont track changes in node_modules folder/file
dist
dist-ssr
*.local
why node-modules folder ignore bcoz we usually dont change anything in node_modules , infact we generated that folder using packages

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


